.MuiDataGrid-columnHeaders{
  background-color: #F7F7F7;
}

.MuiDataGrid-row:nth-child(odd) {
  background-color: #F3FAFD;
}



.pasive-row {
  background-color: rgb(219, 94, 94) !important;
}

.red-row {
  background-color:rgb(219, 94, 94) !important;
}